<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex ">
            <li class="nav-item px-3">
              <a type="button" class="btn btn-outline-primary btn-sm" href="#"><i class="bi bi-plus-square px-2"></i>Criar
              </a>
            </li>
            <li class="nav-item px-3">
                <a type="button" class="btn btn-outline-primary btn-sm" href="#"><i class="bi bi-arrow-up-square px-2"></i>Atualizar</a>
            </li>
            <li class="nav-item dropdown">
            </li>
            <li class="nav-item px-3">
                <a type="button" class="btn btn-outline-danger btn-sm" href="#"><i class="bi bi-trash px-2"></i>Deletar</a>
            </li>
            
        </ul>
      </div>
    </div>
  </nav>
